// Fonts
$base-font-size: 14px
$base-font-family: 'Baloo Paaji 2', sans-serif
// Grid
$columns: 12
$gutter : 30px
$spacer: 1rem
// Containers
$cnt-xl: 1260px
$cnt-lg: 960px
$cnt-md: 720px
$cnt-sm: 540px
$cnt-xs: 100%
// Breakpoints
$bp-xl: 1280px
$bp-lg: 991px
$bp-md: 767px
$bp-sm: 575px
$bp-xs: 460px
// Maps
// $containers : ( $bp-sm: $cnt-xs, $bp-md: $cnt-sm, $bp-lg: $cnt-md, $bp-xl: $cnt-lg )
$containers : ( $bp-xl: $cnt-lg, $bp-lg: $cnt-md, $bp-md: $cnt-sm, $bp-sm: $cnt-xs )
$breakpoints: ( $bp-xs: 'xs', $bp-sm: 'sm', $bp-md: 'md', $bp-lg: 'lg', $bp-xl: 'xl' )
// $breakpoints: ( $bp-xl: 'xl', $bp-lg: 'lg', $bp-md: 'md', $bp-sm: 'sm', $bp-xs: 'xs' )
// Colors
$light-color    : #ffffff
$dark-color     : #121212
$primary-color  : #2a2a2a
$accent-color   : #0078f2
$danger-color   : #c31011
$muted-color    : #b8b8b8
$muted-color-alt: darken($muted-color, 30%)
// Main background colors
$body-bg      : $dark-color
$navigation-bg: $primary-color
$button-bg    : $accent-color
$footer-bg    : $primary-color
$input-border : #6a6a6a
// Text colors
$text-dark        : #000000
$text-light       : #ffffff
$text-accent      : $accent-color
$text-muted       : $muted-color
$input-placeholder: rgba($light-color, 0.3)
$text-danger      : $danger-color
