@import ~styles/abstract/variables
@import ~styles/abstract/mixins

.games-preview
  &-slider
    &-wrapper
      position: relative
    &-image
      width: 100%
      height: 100%
      background:
        size: cover
        position: center
        repeat: no-repeat
    &-info
      display: flex !important
      flex-direction: column
      flex-wrap: wrap
      &-button
        margin-top: auto
        +media-max($bp-md)
          margin-top: 30px
    &-control
      display: flex
      margin-bottom: 20px
      margin-left: -15px
