@import ~styles/utils/mixins
@import ~styles/variables

.plate-right
  position: relative
  width: 40%
  padding: 40px
  display: flex
  flex-wrap: wrap
  flex-direction: column
  z-index: 1

+media($breakpoint-xl)
  .plate-right
    padding: 30px

+media($breakpoint-lg)
  .plate-right
    width: 50%

+media($breakpoint-md)
  .plate-right
    width: 100%
    padding: 30px 15px
