@import ~styles/abstract/variables
@import ~styles/abstract/grid
@import ~styles/abstract/mixins
@import ~styles/abstract/animations

.product-placeholder
  padding: 123px 0 40px
  animation: 1.7s pulse linear infinite
  &-breadcrumbs
    display: block
    width: 20%
    background-color: $c-primary
    height: 20px
    margin-bottom: 40px
  &-header
    height: 600px
    background-color: $c-primary
    margin-bottom: 40px
  &-buy-product
    background-color: $c-primary
    height: 53px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 80px
    &-title
      height: 25px
      width: 20%
      background-color: lighten($c-primary, 3%)
    &-button
      height: 100%
      width: 20%
      background-color: lighten($c-primary, 3%)
  &-description
    +row()
    display: flex
    margin-bottom: 80px
    &-title
      +col-mx(3)
      span
        background-color: $c-primary
        height: 20px
        width: 40%
        display: block
    &-content
      background-color: $c-primary
      +col-mx(9)
      height: 360px


+media-max($bp-xl)
  .product-placeholder
    &-header
      height: 500px

+media-max($bp-lg)
  .product-placeholder
    &-description
      &-title
        +col-mx(12)
        margin-bottom: 20px
      &-content
        background-color: $c-primary
        +col-mx(12)
        height: 360px
