@import '~styles/variables'
@import '~styles/utils/grid'
@import '~styles/utils/mixins'

.card
  position: relative
  width: calc( 20% - 30px )
  margin: 0 15px
  margin-bottom: 60px
  height: 350px
  cursor: pointer
  overflow: hidden
  transition: 0.5s
  &:hover
    .card-image
      transform: scale(1.1)
    .card-info
      &:after
        transform: translateY(0)


+media($breakpoint-xl)
  .card
    +col-mx(3)
+media($breakpoint-lg)
  .card
    +col-mx(4)
+media($breakpoint-md)
  .card
    +col-mx(6)
+media($breakpoint-xs)
  .card
    +col-mx(12)
