@import "~styles/abstract/variables"
@import "~styles/abstract/mixins"

$header: 60px

.navigation
  background-color: $navigation-bg
  position: fixed
  top: 0
  left: 0
  width: 100%
  display: flex
  justify-content: space-between
  z-index: 200
  height: $header

  &-logo
    position: relative
    width: 40px
    align-self: center
    height: auto
    margin: 0 20px 0 30px
    display: block
    fill: $c-muted
    z-index: 2
    +media-max($bp-md)
      margin: 0 20px 0 15px

  &-menu
    display: flex
    align-items: center
    +media-max($bp-md)
      position: fixed
      top: 0
      right: 0
      padding-top: 70px
      background-color: $navigation-bg
      align-items: flex-start
      width: 100%
      height: 100%
      z-index: -1
      transition: 0.2s
      transform: translateX(100%)
    &.is-active
      transform: translateX(0)
  &-list
    overflow: hidden
    display: flex
    width: 100%
    +media-max($bp-md)
      flex-direction: column
      height: 100%
      overflow-y: auto
    &-link
      position: relative
      display: inline-block
      padding: 23px 10px
      font-size: rem(14px)
      line-height: 1
      font-weight: 500
      color: $c-muted
      transition: 0.3s
      letter-spacing: 0.02rem
      +media-max($bp-md)
        display: flex
        width: 100%
        padding: 15px
        border-bottom: 1px solid #333333
      &:after
        position: absolute
        content: ''
        bottom: 0
        left: 0
        width: 100%
        background-color: $c-accent
        height: 5px
        transform: translateY(110%)
        transition: .3s
        +media-max($bp-md)
          display: none
      &:hover
        color: $c-light
      &.active
        color: $c-light
        &:after
          transform: translateY(0)

  &-user
    position: relative
    z-index: 2
    margin-left: auto
    display: flex
    &-dropdown
      margin-right: 30px
      +media-max($bp-md)
        margin-right: 0

  &-burger
    position: relative
    z-index: 2
    display: none
    +media-max($bp-md)
      display: block
      align-self: center
      margin-left: 20px
      margin-right: 15px
