@import ~styles/abstract/mixins
@import ~styles/abstract/variables

.plate-left
  position: relative
  width: 60%
  min-height: 400px
  z-index: 1
  +media-max($bp-lg)
    width: 50%
  +media-max($bp-md)
    width: 100%
  &>*
    width: 100%
    height: 100%
