@import ~styles/variables
@import ~styles/utils/grid

.directory-collection
  &-heading
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    color: $text-light
    margin-bottom: 20px