@import ~styles/utils/grid
@import ~styles/utils/mixins

.checkout-page
  padding: 120px 0 120px
  &-wrap
    +row()
    justify-content: space-between
  &-cart
    +col(7)
  &-totals
    +col(4)

+media($breakpoint-xl)
  .checkout-page
    &-cart
      +col(7)
    &-totals
      +col(5)

+media($breakpoint-md)
  .checkout-page
    &-cart
      +col(12)
      margin-bottom: 40px
    &-totals
      +col(12)