@import '~styles/variables'

.checkout-table
  background-color: $primary-color
  padding: 30px
  &-total
    display: flex
    align-items: center
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 20px
  &-policy
    margin-bottom: 30px
